$paleViolet: hsl(275, 36%, 91%);
$moderateViolet: hsl(276, 55%, 52%);
$darkViolet: hsl(271, 15%, 43%);
$grayishBlue: hsl(206, 6%, 79%);
$veryDarkViolet: hsl(271, 36%, 24%);
$darkGrayishViolet: hsl(270, 7%, 64%);
$gradientOne: hsl(293, 100%, 63%);
$gradientTwo: hsl(264, 100%, 61%);
$secondaryWhite: hsl(0, 0%, 100%);
$secondaryViolet: hsl(270, 20%, 96%);
$secondaryDarkViolet: hsl(271, 36%, 24%);
$secondaryMagenta: hsl(289, 100%, 72%);
